<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI 테스트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/kpop_demon_hunters_mbti.png') }}" alt="MBTI Image" style="width:100%; max-width:600px; margin-bottom: 2em;">
        <a href="{{ url_for('users.signup_page') }}" class="btn">테스트 시작</a>
    </div>
</body>
</html>